<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Express Demo</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <nav>
    <a href="/">Home</a>
    <a href="/contact">Contact</a>
    <a href="/margherita">Margherita</a>
    <a href="/veggie">Veggie</a>
    <a href="/seafood">Seafood</a>
    </nav>

    {{{body}}}
    
  </body>
</html>
